@page
@model RostrosFelices.Pages.Clientes.IndexModel
@{
}
<h1>GESTION DE CLIENTES</h1>
<p>
    <a asp-page="Create" class="btn btn-success">INGRESA CLIENTE</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.Clientes[0].Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Clientes[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Clientes[0].Apellido)
            </th>


            <th>OPCIONES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Clientes)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem=>item.Documento)
                </th>
                <td>
                    @Html.DisplayFor(modelItem=>item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Apellido)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Modificar</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Borrar</a>
                </td>
          
           </tr>
        }
    </tbody>
</table>