@page
@model RostrosFelices.Pages.Clientes.IndexModel

@{
    ViewData["Title"] = "GESTION DE CLIENTES";
}

<h1>CLIENTES</h1>

<p>
    <a asp-page="Create" class="btn btn-success">REGISTRAR CLIENTE</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clientes[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes[0].Documento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Clientes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Documento)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Modificar</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-secondary">Detalles</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
