@page
@model RostrosFelices.Pages.ServiciosRealizados.IndexModel

@{
    ViewData["Title"] = "SERVICIOS GESTIONADOS";
}

<h1>REGISTRO DE SERVICIOS REALIZADOS</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dato[0].Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dato[0].Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dato[0].Empleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dato[0].Servicio)
            </th>
            <th>OPCIONES</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Dato) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpleadoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicioId)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Modificar</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-secondary">Detalles</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
