@page
@model RostrosFelices.Pages.Servicios.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Servicios[0].Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicios[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicios[0].Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicios[0].Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Servicios) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Modificar</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-secondary">Detalles</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
